body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #555555;
}

.App{
  background: rgb(82,145,221);
  margin: 1.2em auto;
  width: 90%;
  max-width: 700px;
  color: #eee;
}

.navbar {
  padding: 0.8em 1.2em ;
  text-align: center;
  background: rgb(245, 129, 68);
}

.navbar h1 {
  margin: 1.1em 0;
}